service sys_servicemanager /system/bin/servicemanager
    user root
    group root
    setenv PATH /system/bin:/system/vendor/bin:/vendor/bin
    setenv LD_LIBRARY_PATH /system/lib64:/system/lib:/system/vendor/lib64:/system/vendor/lib:/vendor/lib64:/vendor/lib
    disabled
    oneshot
    seclabel u:r:vold:s0
